@attribute [StreamRendering(true)]
@rendermode InteractiveServer

@inject IConfiguration Configuration
@using MediatR
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@inject IMediator  Mediator
@using Microsoft.AspNetCore.SignalR.Client

@if (_model == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="table-responsive">
        <table class="table mb-0 table-bordered  table-hover table-striped small">
            <thead>
            <tr>
                <th class="py-2" scope="col">Time</th>
                <th class="py-2" scope="col">Destination</th>
                <th class="py-2" scope="col">Flight</th>
                <th class="py-2" scope="col">Status</th>
                <th class="py-2" scope="col"/>
            </tr>
            </thead>
            <tbody>

            @foreach (var item in _model.Departures)
            {
                <tr class="@(item.Status == "Delayed" ? "delayed-status" : "")">
                    <td>@item.Time</td>
                    <td>@item.Destination</td>
                    <td>@item.Flight</td>
                    <td>@item.Status</td>
                    <td><a href="/flight/@item.Id">Edit</a></td>
                </tr>
            }
            </tbody>
        </table>

    </div>
}