@using FlightMonitor.Features.GetDepartures
@using static Microsoft.AspNetCore.Components.Web.RenderMode

@attribute [StreamRendering]
@rendermode InteractiveServer

@if (Model == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="table-responsive">
        <table class="table mb-0 table-bordered  table-hover table-striped small">
            <thead>
            <tr>
                <th class="py-2" scope="col">ETA</th>
                <th class="py-2" scope="col">Destination</th>
                <th class="py-2" scope="col">Flight</th>
                <th class="py-2" scope="col">Status</th>
                <th class="py-2" scope="col"/>
            </tr>
            </thead>
            <tbody>

            @foreach (var item in Model.Departures)
            {
                <tr class="@(item.Status == "Delayed" ? "delayed-status" : "")">
                    <td>@item.Time</td>
                    <td>@item.Destination</td>
                    <td>@item.Flight</td>
                    <td>@item.Status</td>
                    <td><a href="/flight/@item.Id">Edit</a></td>
                </tr>
            }
            </tbody>
        </table>

    </div>
}