@attribute [StreamRendering(true)]

@using MediatR
@using Microsoft.AspNetCore.Components.Web
@inject IMediator  Mediator


@if (Model == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <h3>Edit Flight: @Model.Flight to @Model.Destination</h3>
    <p>Status: @Model.Status.ToString()</p>                       
    <p>Scheduled: @Model.Scheduled.Date @Model.Scheduled.ToString("hh:mm tt")</p>   
    <p>Actual: @Model.Actual.Date @Model.Actual.ToString("hh:mm tt")</p>
    <button class="btn btn-primary" @onclick="SetDelay">Set 30 Minutes Delay</button>

                                                                  
}